// Entire Bulma Library - do not use in production
// @charset "utf-8";
// @import "~bulma/bulma";

@charset "utf-8";

// APP
html {
  scroll-behavior: smooth;
}
.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + content {
  padding-top: 60px;
}
// images container
*.center-cropped {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  // background-size: cover;
  height: 128px;
  width: 128px;
}

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$charcoal: #5D6266;
$sky-blue: #8FBEEA;
$cloud-blue: #D0DBE5;
$navy: #3E5366;
$grey: #A2ABB3;
$red: red;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $cloud-blue;
$grey-light: $navy;
$primary: $charcoal;
$link: $sky-blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $grey;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//container offset
$gap: 200px;
$container-offset: (2 * $gap);
// tile-spacing
$tile-spacing: 0;

// REVIEWS & RATINGS
// new review star rating
.star-rating {
  input[type="radio"] {
    display: none;
  }
}
.overall-star-rating {
  display: inline-block;
  position: relative;
  font-size: 100px;
  color: #ddd;
}
.overall-star-rating:after {
  font-family: FontAwesome;
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  overflow: hidden;
  color: #f80;
}

// overall star rating
.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
}

.stars-container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: lightgray;
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: gold;
  overflow: hidden;
}

.stars-0:after { width: 0%; }
.stars-5:after { width: 5%; }
.stars-10:after { width: 10%; }
.stars-15:after { width: 15%; }
.stars-20:after { width: 20%; }
.stars-25:after { width: 25%; }
.stars-30:after { width: 30%; }
.stars-35:after { width: 35%; }
.stars-40:after { width: 40%; }
.stars-45:after { width: 45%; }
.stars-50:after { width: 50%; }
.stars-55:after { width: 55%; }
.stars-60:after { width: 60%; }
.stars-65:after { width: 65%; }
.stars-70:after { width: 70%; }
.stars-75:after { width: 75%; }
.stars-80:after { width: 80%; }
.stars-85:after { width: 85%; }
.stars-90:after { width: 90%; }
.stars-95:after { width: 95%; }
.stars-100:after { width: 100; }

// image modal
.img-modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.img-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.3);
}

.img-modal-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 60%;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  z-index: 101;
  padding: 40px
}

// IMPORTS
// Import only what you need from Bulma
@import "~/node_modules/bulma/sass/utilities/_all.sass";
@import "~/node_modules/bulma/sass/base/_all.sass";
@import "~/node_modules/bulma/sass/elements/button.sass";
@import "~/node_modules/bulma/sass/elements/container.sass";
@import "~/node_modules/bulma/sass/elements/title.sass";
@import "~/node_modules/bulma/sass/form/_all.sass";
@import "~/node_modules/bulma/sass/components/navbar.sass";
@import "~/node_modules/bulma/sass/layout/hero.sass";
@import "~/node_modules/bulma/sass/layout/section.sass";
@import "~/node_modules/bulma/sass/elements/progress.sass";

// Jack is using tiles, columns
@import "~/node_modules/bulma/sass/grid/columns.sass";
@import "~/node_modules/bulma/sass/grid/tiles.sass";
@import "~/node_modules/bulma/sass/elements/box.sass";
@import "~/node_modules/bulma/sass/components/menu.sass";
@import "~/node_modules/bulma/sass/components/dropdown.sass";
@import "~/node_modules/bulma/sass/components/card.sass";
@import "~/node_modules/bulma/sass/helpers/_all.sass";
@import "~/node_modules/bulma/sass/elements/image.sass";
@import "~/node_modules/bulma/sass/components/modal.sass";
// Ryne
@import "~/node_modules/bulma/sass/components/level.sass";


.is-clickable {
  cursor: pointer;
}
.is-vertical-center {
  display: flex;
  align-items: center;
}
.iframe-modal {
  width: 800px;
  height: 600px;
}
// .image-zoom {
//   transform: scale(2.5);
//   opacity: 0;
//   transition: all $transition-duration;
// }
// .image-zoom is-active {
//   transform: scale(1);
//   opacity: 1;
// }
.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
.redStrike {
  color:red;
  text-decoration:line-through;
}

// Bulma essential variables, functions and mixins
@import "~/node_modules/bulma/sass/utilities/initial-variables";
@import "~/node_modules/bulma/sass/utilities/functions";
@import "~/node_modules/bulma/sass/utilities/derived-variables";
@import "~/node_modules/bulma/sass/utilities/mixins.sass";

// Modal minimal setup
$transition-duration: .5s;
$transition-duration-newsPaper: .7s;
$transition-duration-3dslit: 1s;

$modal-perspective: 1300px;
$modal-bg-color: rgba($black,.86);
.image-zoom {
  transform: scale(2.5);
  opacity: 1;
  transition: all $transition-duration;
}
.image-zoom is-active {
  transform: scale(1);
  opacity: 1;
}

.modal {
  display: flex;
  visibility: hidden;

  // Common fx modal background
  .modal-background {
      transition: all $transition-duration;
      opacity: 0;
  }

  &.is-active {
      visibility: visible;
      .modal-background {
          opacity: 1;
      }
  }

  &.modal-full-screen {
      .modal-background {
          background-color: #fff;
      }
      .modal-content {
          width: 100%;
          height: 100%;
          max-height: 100vh;
          margin: 0;
          background-color: #fff;
      }

      // .modal-close {
      //     &::before,
      //     &::after {
      //         background-color: rgba($black, .86);
      //     }
      // }
  }

  // Fx modal content
  // .modal-fx-fadeInScale
  &.modal-fx {

      &-fadeInScale {
          .modal-content {
              transform: scale(0.7);
              opacity: 0;
              transition: all $transition-duration;
          }

          &.is-active {
              .modal-content {
                  transform: scale(1);
                  opacity: 1;
              }
          }
      }

      &-slideRight {
          .modal-content {
              transform: translateX(20%);
              opacity: 0;
              transition: all $transition-duration cubic-bezier(0.25, 0.5, 0.5, 0.9);
          }

          &.is-active .modal-content {
              transform: translateX(0);
              opacity: 1;
          }
      }

      &-slideLeft {
          .modal-content {
              transform: translateX(-20%);
              opacity: 0;
              transition: all $transition-duration cubic-bezier(0.25, 0.5, 0.5, 0.9);
          }

          &.is-active .modal-content {
              transform: translateX(0);
              opacity: 1;
          }
      }

      &-slideBottom {
          .modal-content {
              transform: translateY(20%);
              opacity: 0;
              transition: all $transition-duration;
          }

          &.is-active .modal-content {
              transform: translateY(0);
              opacity: 1;
          }
      }

      &-slideTop {
          .modal-content {
              transform: translateY(-20%);
              opacity: 0;
              transition: all $transition-duration;
          }

          &.is-active .modal-content {
              transform: translateY(0);
              opacity: 1;
          }
      }

      &-fall {
          &.modal {
              perspective: $modal-perspective;
          }

          .modal-content {
              transform-style: preserve-3d;
              transform: translateZ(600px) rotateX(20deg);
              opacity: 0;
          }

          &.is-active .modal-content {
              transition: all $transition-duration ease-in;
              transform: translateZ(0px) rotateX(0deg);
              opacity: 1;
          }
      }

      &-slideFall {
          &.modal {
              perspective: $modal-perspective;
          }

          .modal-content {
              transform-style: preserve-3d;
              transform: translate(30%) translateZ(600px) rotate(10deg);
              opacity: 0;
          }

          &.is-active .modal-content {
              transition: all $transition-duration ease-in;
              transform: translate(0%) translateZ(0) rotate(0deg);
              opacity: 1;
          }
      }

      &-newsPaper {
          .modal-content {
              transform: scale(0) rotate(720deg);
              opacity: 0;
          }

          .modal-background,
          .modal-content {
              transition: all $transition-duration-newsPaper;
          }

          &.is-active .modal-content {
              transform: scale(1) rotate(0deg);
              opacity: 1;
          }
      }

      &-3dFlipVertical {
          &.modal {
              perspective: $modal-perspective;
          }

          .modal-content {
              transform-style: preserve-3d;
              transform: rotateX(-70deg);
              transition: all $transition-duration;
              opacity: 0;
          }

          &.is-active .modal-content {
              transform: rotateX(0deg);
              opacity: 1;
          }
      }

      &-3dFlipHorizontal {
          &.modal {
              perspective: $modal-perspective;
          }

          .modal-content {
              transform-style: preserve-3d;
              transform: rotateY(-70deg);
              transition: all $transition-duration;
              opacity: 0;
          }

          &.is-active .modal-content {
              transform: rotateY(0deg);
              opacity: 1;
          }
      }

      &-3dSign {
          &.modal {
              perspective: $modal-perspective;
          }

          .modal-content {
              position: relative;
              transform-style: preserve-3d;
              transform: rotateX(-60deg);
              transform-origin: 50% 0;
              opacity: 0;
              transition: all $transition-duration;
          }

          &.is-active .modal-content {
              transform: rotateX(0deg);
              opacity: 1;
          }
      }

      &-3dSignDown {
          &.modal {
              perspective: $modal-perspective;
          }

          .modal-content {
              position: relative;
              transform-style: preserve-3d;
              transform: rotateX(60deg);
              transform-origin: 0 100%;
              opacity: 0;
              transition: all $transition-duration;
          }

          &.is-active .modal-content {
              transform: rotateX(0deg);
              opacity: 1;
          }
      }

      &-superScaled {
          .modal-content {
              transform: scale(2.5);
              opacity: 0;
              transition: all $transition-duration;
          }

          &.is-active .modal-content {
              transform: scale(1);
              opacity: 1;
          }
      }

      &-3dSlit {
          &.modal {
              perspective: $modal-perspective;
          }

          .modal-content {
              transform-style: preserve-3d;
              transform: translateZ(-3000px) rotateY(90deg);
              opacity: 0;
          }

          &.is-active .modal-content {
              animation: slit $transition-duration-3dslit forwards ease-out;
          }

          @keyframes slit {
              50% { transform: translateZ(-250px) rotateY(89deg); opacity: 1; animation-timing-function: ease-in;}
              100% { transform: translateZ(0) rotateY(0deg); opacity: 1; }
          }
      }

      &-3dRotateFromBottom {
          &.modal {
              perspective: $modal-perspective;
          }

          .modal-content{
              transform-style: preserve-3d;
              transform: translateY(100%) rotateX(90deg);
              transform-origin: 0 100%;
              opacity: 0;
              transition: all $transition-duration ease-out;
          }

          &.is-active .modal-content{
              transform: translateY(0%) rotateX(0deg);
              opacity: 1;
          }
      }

      &-3dRotateFromLeft {
          &.modal {
              perspective: $modal-perspective;
          }

          .modal-content {
              transform-style: preserve-3d;
              transform: translateZ(100px) translateX(-30%) rotateY(90deg);
              transform-origin: 0 100%;
              opacity: 0;
              transition: all $transition-duration;
          }

          &.is-active .modal-content {
              transform: translateZ(0px) translateX(0%) rotateY(0deg);
              opacity: 1;
          }
      }

  }

  .modal-content {
      // size
      &.is-huge {
          width: 100%;
          margin: 0px 20px;
          max-height: calc(100vh - 40px);
      }
      @include from($tablet) {
          &.is-huge {
              width: 100%;
              margin: 0px 20px;
              max-height: calc(100vh - 40px);
          }
      }
      &.is-tiny {
          max-width: 400px;
      }

      // type
      &.is-image {
          text-align: center;

          &.is-huge {
              width:auto;
          }

          img {
              max-height: calc(100vh - 50px);
          }
      }
  }

  // Positioning, center is default
  // .modal-pos-top
  &.modal-pos {
      &-top {
          align-items: flex-start;
          .modal-content {
              margin-top: 1rem;
          }
      }
      &-bottom {
          align-items: flex-end;
          .modal-content {
              margin-bottom: 1rem;
          }
      }
  }

  .modal-background {
      background-color: $modal-bg-color;
  }
}